
<h1>Dumpsters</h1>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="row">
      <div class="span8">
        <div class="row">
          <div class="span8">
            <h4><strong><a href="#">Bad Page</a></strong></h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <a href="#" class="thumbnail">
                <img src="http://placehold.it/260x180" alt="">
            </a>
          </div>
          <div class="col-md-6">
            <p>
              I did not like this page, because the admins are dumbs. They are not the kind of people who have much knowledge of web programming, they pay to a programmer to make this and get all the credit. I dont trust this kind of people
            </p>
          </div>
        </div>
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="span8">
        <div class="row">
          <div class="span8">
            <h4><strong><a href="#">La estafa de algunos</a></strong></h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <a href="#" class="thumbnail">
                <img src="http://placehold.it/260x180" alt="">
            </a>
          </div>
          <div class="col-md-6">
            <p>
              Me conto un pajarito que los admins de esta pagina se hacen la america. Explico, hacen que la gente se suscriba gratis para obligarte luego a pagar despues de un mes, a mi ya me sacaron mucho dinero, pero no caigan ustedes, difundan este mensaje.
            </p>
          </div>
        </div>
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="span8">
        <div class="row">
          <div class="span8">
            <h4><strong><a href="#">No me gusta la palta</a></strong></h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <a href="#" class="thumbnail">
                <img src="http://placehold.it/260x180" alt="">
            </a>
          </div>
          <div class="col-md-6">
            <p>
              Encuentro que es un crimen de la naturaleza que exista tal diabolica fruta. Es mala, fea horrible y de mal sabor. No coman palta ya que los tontos comen palta.
            </p>
          </div>
        </div>
      </div>
    </div>
    <hr>
  </div>
</div>
