<h1>Tell me more....</h1>
<h2>Complain all you want... We will jugde you anyway<<h2>
<p>Joaquin Alonso and Antonia Saez masters of complain</p>

<%= link_to 'New Post', new_post_path %>
<%= link_to "Post Index", posts_path %>
